#game {
  width: 500px;
  height: 500px;
  background-color: #eee;
  position: relative;
}

#snake {
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
}

#food {
  width: 10px;
  height: 10px;
  background-color: #f00;
  position: absolute;
}
